{% extends 'base.html' %}

{% block navbar_title %}
<a class="navbar-brand" href="#">
    <img src="..\static\img\icon_SQL_database_01.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
    <!--<a href="https://www.flaticon.com/free-icons/sql" title="sql icons">Sql icons created by Uniconlabs - Flaticon</a>-->
    <strong>SQL*Plus Output Formatter [BETA]</strong>
</a>
{% endblock %}

{% block navbar_content %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('sqlplusformatter')}}">Reset <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="mailto:olivier.wertz@soprabanking.com?subject=[SQL Query Formatter] I have a suggestion" target="_blank">Any suggestion?</a>
        <a class="nav-item nav-link" href="https://github.com/owertz/sql_tools/issues" target="_blank">Report a bug on <em>Github</em></a>
    </div>
</div>
{% endblock %}

{% block content %}
</br>
<p>
Write your unreadable SQL*Plus output here and press submit.<br/>
Copy/paste the result in your favorite text editor.<br/>
Read.
</p>
<form method="post">
    <div class="form-group">
        <label for="content">Input:</label>
        <textarea name="content" placeholder="Write your SQL*Plus output here" rows="5" cols="140" style="font-family: monospace"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <br/>
    Result:
    <textarea name="result" rows="20" cols="136" style="font-family: monospace; font-size:14px; color:#24788F">
{{ myquerymysqlplusoutput }}
        </textarea>
</form>
{% endblock %}