{% extends 'base.html' %}

{% block navbar_title %}
<a class="navbar-brand" href="#">
    <img src="..\static\img\icon_SQL_database_01.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
    <!--<a href="https://www.flaticon.com/free-icons/sql" title="sql icons">Sql icons created by Uniconlabs - Flaticon</a>-->
    <strong>SQL Query Formatter</strong>
</a>
{% endblock %}

{% block navbar_content %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('sqlqueryformatter')}}">Reset <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="https://github.com/owertz/sql_tools/issues" target="_blank">Report a bug</a>
      <!--a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a-->
    </div>
  </div>
{% endblock %}

{% block content %}
<br/>
<p>The <strong>SQL Query Formatter</strong> tool will help you to write readable and maintainable query by applying the best practices.</p>
<!--p>Write your SQL query(ies) here and press submit.<br/></p-->

<!-- FIXME: to add in a right-side column
<p>For instance, avoid:</p>
<pre class="pre-scrollable">select name, surname, substr(date, 1, 4) "Year" from employees where id>100 order by name asc, surname desc;</pre>
<p>but prefer:</p>
<pre class="pre-scrollable">SELECT
    name,
    surname,
    SUBSTR(date, 1, 4) "Year"
FROM
    employees
WHERE
    id > 100
ORDER BY
    name asc,
    surname DESC
;
</pre>
-->

<form method="post">
    <div class="form-group">
        <label for="content">Your query(ies)</label>
        <textarea name="content" placeholder="Write your query(ies) here" rows="5" cols="136" style="font-family: monospace"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <!--div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div-->
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Process</button>
    <br/>
    <br/>
    Result:
    <textarea name="result" rows="20" cols="140" style="font-family: monospace; font-size:14px; color:#24788F">
{{ myquery }}
        </textarea>
</form>
<br/>
{% endblock %}